.background {
	background-color: #E8E8E8;
  text-decoration: none;
}
.parallax-window {
    min-height: 500px;
    background: transparent;
    left: 0px;
    top: 0px;
}
.logo
  { margin-top: 50px;
    margin-left: 42%;}

.photos
{margin-top: 5%}

/*span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 400px;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: center;

}

.photos img:hover span.text-content {
  opacity: 1;
}*/

.text-content {    
    position: absolute;
    color: #7A1C1C;
    font-size: 60px;
    font-family:'Amatic SC', cursive;
    top: 127px;
    left: 124px;
    opacity: 0;
    transition: all 1s ease;
}

.photo {
  position: relative;}


.photo:hover img {
  opacity: 0.5;
}

.photo:hover .text-content {
  opacity: 1;

}

.photo img {
    width: 100%;
    height: auto;
    transition: all 1s ease;
    opacity: 1;
}

.name{
    font-family: 'Josefin Sans', sans-serif;
	  font-size: 70px;
	  color: black;
	  margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: none;}

.greywoods
{ margin-top: 100px;
  width: 100px;}

.social
    {margin-top: 25px;
    margin-left: 42%}

.about {margin-top: 100px;}

.paragraph
{font-family: 'Playfair Display', serif;}