.background {
	background-color: grey;
	overflow:hidden;}

.myphoto {
    margin-top: 8px;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    position: left;
    padding: 10px;
}

.Name{font-family: 'Old Standard TT', serif;
	  font-size: 60px;
	  color:#FFA07A;
	  margin-left: 450px;
          margin-top: 200px;
          text-decoration: none;}

.pronounce {font-family: 'Old Standard TT', serif;
      font-size: 25px;
      color:#FFFFFF;
      margin-left: 525px;
      overflow: hidden;}

.mint {margin-top: 100px;
	overflow:hidden;
}

.social
    {margin-top: 25px;
    margin-left: 525px;}
