.background {
	background-color: #e5d6d5;
  text-decoration: none;


}
.parallax-window {
    min-height: 500px;
    background: transparent;
    left: 0px;
    top: 0px;
}

.img-container {
  padding-left: 38%;
  margin-top: 2%;
}

.pattern-photo
{border-radius: 50%;
 }

.text-content {    
    position: absolute;
    color: #7A1C1C;
    font-size: 60px;
    font-family:'Josefin Sans', cursive;
    top: 67px;
    left: 124px;
    opacity: 0;
    transition: all 1s ease;
}


.photo {
  position: relative;}


.photo:hover img {
  opacity: 0.5;
}

.photo:hover .text-content {
  opacity: 1;

}

.photosrow {
  margin-left: 5%;
  margin-right:5%;
  margin-top: 5%

}


.photo img {
    width: 100%;
    height: auto;
    transition: all 1s ease;
    opacity: 1;
}

.name{
    font-family: 'Abril Fatface', cursive;
	  font-size: 80px;
	  color: black;
	  margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: none;}


.social
    {margin-top: 25px;
    margin-left: 42%}

.about {margin-top: 100px;}



.paragraph
{font-family: 'Droid Sans', sans-serif;
font-size: 20px;
text-align: justify;
 margin-left: 5%;
 margin-right: 5%;
 margin-top: 25%;
}


